  <div class="items-board-container">
  <div class="infinite-scrolling items-board">
    <div class="items-board unstyled">
      <div class="item-header">
        <h4>Favorites</h4>
      </div>
      <ul class="items-list unstyled">
      </ul>
      <h2 class="centered muted">No favorites yet!</h2>
      <p class="centered lead muted">All of your ordered items will magically appear here, or you can click on any item and then 'Add to Favorites'</p>
    </div>
  </div>
</div>
