<div class="">
  <div class="span4 faq-sidebar">
    <ul class="desktop-faq-nav faq-nav nav nav-list">
      <li>
        <a class="category" data-bypass="" href="#popular-questions">Popular Questions</a>
      </li>
      <li>
        <a data-bypass="" href="#popular-questions-q0">What is Instacart?</a>
      </li>
      <li>
        <a data-bypass="" href="#popular-questions-q1">What stores are supported?</a>
      </li>
      <li>
        <a data-bypass="" href="#popular-questions-q2">Do you serve my area?</a>
      </li>
      <li>
        <a class="category" data-bypass="" href="#about-instacart">About Instacart</a>
      </li>
      <li>
        <a data-bypass="" href="#about-instacart-q0">How fast do you deliver?</a>
      </li>
      <li>
        <a data-bypass="" href="#about-instacart-q1">How much does delivery cost?</a>
      </li>
      <li>
        <a data-bypass="" href="#about-instacart-q2">What are your hours?</a>
      </li>
      <li>
        <a data-bypass="" href="#about-instacart-q3">What about produce?</a>
      </li>
      <li>
        <a data-bypass="" href="#about-instacart-q4">What is Instacart Plus?</a>
      </li>
      <li>
        <a data-bypass="" href="#about-instacart-q5">Where do products sold by Instacart Plus come from?</a>
      </li>
      <li>
        <a data-bypass="" href="#about-instacart-q6">What is Instacart Express?</a>
      </li>
      <li>
        <a data-bypass="" href="#about-instacart-q7">How do I add my club membership to my account?</a>
      </li>
      <li>
        <a class="category" data-bypass="" href="#inventory-and-prices">Inventory and Prices</a>
      </li>
      <li>
        <a data-bypass="" href="#inventory-and-prices-q0">What if an item I want is not available on your site?</a>
      </li>
      <li>
        <a data-bypass="" href="#inventory-and-prices-q1">What does Often Out of Stock mean?</a>
      </li>
      <li>
        <a data-bypass="" href="#inventory-and-prices-q2">What happens when something is out of stock?</a>
      </li>
      <li>
        <a data-bypass="" href="#inventory-and-prices-q3">Are your prices different from the store?</a>
      </li>
      <li>
        <a data-bypass="" href="#inventory-and-prices-q4">Are your alcohol prices different from the store?</a>
      </li>
      <li>
        <a data-bypass="" href="#inventory-and-prices-q5">Do you honor in-store sales or coupons?</a>
      </li>
      <li>
        <a class="category" data-bypass="" href="#about-my-order">About My Order</a>
      </li>
      <li>
        <a data-bypass="" href="#about-my-order-q0">How do I check on the status of my order?</a>
      </li>
      <li>
        <a data-bypass="" href="#about-my-order-q1">How do I make a change to my order?</a>
      </li>
      <li>
        <a data-bypass="" href="#about-my-order-q2">What is your cancellation policy?</a>
      </li>
      <li>
        <a data-bypass="" href="#about-my-order-q3">What if I have to reschedule or cancel my order after it's already on the way?</a>
      </li>
      <li>
        <a data-bypass="" href="#about-my-order-q4">How do I report a problem with my order?</a>
      </li>
      <li>
        <a data-bypass="" href="#about-my-order-q5">When will I receive my refund?</a>
      </li>
      <li>
        <a data-bypass="" href="#about-my-order-q6">How do I review my receipt?</a>
      </li>
      <li>
        <a data-bypass="" href="#about-my-order-q7">How do I return my Instacart bags?</a>
      </li>
      <li>
        <a data-bypass="" href="#about-my-order-q8">How do I return items?</a>
      </li>
      <li>
        <a data-bypass="" href="#about-my-order-q9">Why is my card authorized for more than my order total?</a>
      </li>
      <li>
        <a class="category" data-bypass="" href="#personal-shoppers">Personal Shoppers</a>
      </li>
      <li>
        <a data-bypass="" href="#personal-shoppers-q0">Who will deliver my order?</a>
      </li>
      <li>
        <a data-bypass="" href="#personal-shoppers-q1">What if all Personal Shoppers are busy?</a>
      </li>
      <li>
        <a data-bypass="" href="#personal-shoppers-q2">Can I become a Personal Shopper?</a>
      </li>
      <li>
        <a data-bypass="" href="#personal-shoppers-q3">Should I tip my Personal Shopper?</a>
      </li>
      <li>
        <a data-bypass="" href="#personal-shoppers-q4">How do I add a tip for my shopper?</a>
      </li>
      <li>
        <a class="category" data-bypass="" href="#contact-us">Contact Us</a>
      </li>
      <li>
        <a data-bypass="" href="#contact-us-q0">I have more questions for you!</a>
      </li>
    </ul>
  </div>
  <div class="span8" id="faq-list">
    <h2>Frequently Asked Questions</h2>
    <h3 class="anchor" id="popular-questions">Popular Questions</h3>
    <ol class="unstyled">
      <li class="anchor" id="popular-questions-q0">
        <h4 class="question" id="what-is-instacart">What is Instacart?</h4>
        <div class="answer">
          <p>Instacart is a grocery delivery service that delivers in as little as an hour! We connect you with Personal Shoppers in your area who pick up and deliver your groceries from your favorite local stores.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="popular-questions-q1">
        <h4 class="question" id="what-stores-are-supported">What stores are supported?</h4>
        <div class="answer">
          <p>Our Personal Shoppers shop from local stores in your area including Whole Foods Market, Costco and many other stores. Instacart is an independent business and is not necessarily affiliated with, or endorsed or sponsored by Kroger, The Food Emporium, Super Fresh or other retailers mentioned on this website.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="popular-questions-q2">
        <h4 class="question" id="do-you-serve-my-area">Do you serve my area?</h4>
        <div class="answer">
          <p>Our Personal Shoppers deliver in the Atlanta, Austin, Boston, Boulder, Chicago, Denver, Houston, Los Angeles, New York City, Philadelphia, Portland, San Francisco Bay Area, San Jose, Seattle &amp; Washington D.C. areas. We're expanding quickly, so sign up with your zip code to let us know where you want to see Instacart next!</p>
        </div>
      </li>
      <hr>
    </ol>
    <h3 class="anchor" id="about-instacart">About Instacart</h3>
    <ol class="unstyled">
      <li class="anchor" id="about-instacart-q0">
        <h4 class="question" id="how-fast-do-you-deliver">How fast do you deliver?</h4>
        <div class="answer">
          <p>Really fast! Our fastest delivery was just 12 minutes! Most customers choose to have delivery in the next 2 hours, and you can also schedule for a later date or time during checkout.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="about-instacart-q1">
        <h4 class="question" id="how-much-does-delivery-cost">How much does delivery cost?</h4>
        <div class="answer">
          <p>Delivery is free for your first order. After that, it starts at just $3.99 for two hour delivery and $5.99 for one hour delivery when you spend $35 or more. Delivery prices for your individual order are shown clearly at checkout.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="about-instacart-q2">
        <h4 class="question" id="what-are-your-hours">What are your hours?</h4>
        <div class="answer">
          <p>We deliver from 9am to Midnight every day, depending on local store hours. On holidays, our delivery hours are subject to store holiday hours. You can view available delivery times for your area from the shopping cart.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="about-instacart-q3">
        <h4 class="question" id="what-about-produce">What about produce?</h4>
        <div class="answer">
          <p>We're experts at picking produce and other perishables! You can request the ripeness you'd like by adding a note to any item.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="about-instacart-q4">
        <h4 class="question" id="what-is-instacart-plus">What is Instacart Plus?</h4>
        <div class="answer">
          <p>Instacart Plus offers a great selection of national brand products at prices that are less than the average supermarket.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="about-instacart-q5">
        <h4 class="question" id="where-do-products-sold-by-instacart-plus-come-from">Where do products sold by Instacart Plus come from?</h4>
        <div class="answer">
          <p>Products come from several discount retailers in your city.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="about-instacart-q6">
        <h4 class="question" id="what-is-instacart-express">What is Instacart Express?</h4>
        <div class="answer">
          <p>Instacart Express is a grocery delivery membership. With Instacart Express, you get free delivery on 2 hour &amp; scheduled grocery deliveries over $35. Instacart Express begins with a <a href="#express">14-day free trial</a>. After that, Express is just $99/year.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="about-instacart-q7">
        <h4 class="question" id="how-do-i-add-my-club-membership-to-my-account">How do I add my club membership to my account?</h4>
        <div class="answer">
          <p>Currently, we do not have a way to connect your club memberships or savings clubs, from most stores, to your Instacart accounts. Be sure to keep an eye on email and social media updates for more news and updates on how we're expanding to help serve our community. <br><br>If you have questions about connecting your Bianchini's and Harvest Market memberships to your account, please contact Customer Happiness.</p>
        </div>
      </li>
      <hr>
    </ol>
    <h3 class="anchor" id="inventory-and-prices">Inventory and Prices</h3>
    <ol class="unstyled">
      <li class="anchor" id="inventory-and-prices-q0">
        <h4 class="question" id="what-if-an-item-i-want-is-not-available-on-your-site">What if an item I want is not available on your site?</h4>
        <div class="answer">
          <p>Need something that is not in our inventory? Just create a special request.<br><br>Throughout our aisles, you will see the option to Add Special Request. When you select this option, a pop up will appear where you can describe what you're looking for, your desired price range, as well as the quantity and weight. You can even upload a photo for your shopper's reference! <br><br>We keep track of special requests, so we can keep adding your favorite products to our inventory.<br> Remember, we do not currently offer deliveries for non-grocery goods such as tobacco products, gift cards, or items you would not typically find at a grocery store. While we offer pet food and other pet supplies, live animals are not available for purchase, including feeder animals. If you're ever uncertain, feel free to contact the Customer Happiness team for help.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="inventory-and-prices-q1">
        <h4 class="question" id="what-does-often-out-of-stock-mean">What does Often Out of Stock mean?</h4>
        <div class="answer">
          <p>Items marked as Often Out of Stock are frequently replaced with other items by our Shoppers. We recommend choosing a replacement for those items during the checkout process, just in case they’re out of stock at the store.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="inventory-and-prices-q2">
        <h4 class="question" id="what-happens-when-something-is-out-of-stock">What happens when something is out of stock?</h4>
        <div class="answer">
          <p>When something is out of stock at the store, we do our best to replace it with something similar. During checkout, you can choose specific replacements for any item, or ask for no replacement of an item. If you allow it, your shopper will call from the store to confirm replacement items.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="inventory-and-prices-q3">
        <h4 class="question" id="are-your-prices-different-from-the-store">Are your prices different from the store?</h4>
        <div class="answer">
          <p>Yes, Instacart prices are our own and vary from the store’s price (except for alcoholic beverages, see below). If you notice an item that you believe is priced incorrectly or unfairly, please feel free to reach out. We reserve the right to cancel items that are priced incorrectly due to error.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="inventory-and-prices-q4">
        <h4 class="question" id="are-your-alcohol-prices-different-from-the-store">Are your alcohol prices different from the store?</h4>
        <div class="answer">
          <p>No, but we add a delivery fee to the store’s price for each item you purchase. This is why the prices listed on our website appear to be higher than those charged in the store. If you notice an item that you believe is priced  incorrectly or unfairly, please email us at happycustomers@instacart.com. We reserve the right to cancel items that are priced incorrectly due to error.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="inventory-and-prices-q5">
        <h4 class="question" id="do-you-honor-in-store-sales-or-coupons">Do you honor in-store sales or coupons?</h4>
        <div class="answer">
          <p>Since the prices you see in our inventory are our own, we are not always able to honor in-store sales and coupons. We do, however, frequently have our own sales and promotions. Sign up for our email updates from your account by visiting My Account &gt; Notifications. Here, you can select your preferred communication methods from our team.</p>
        </div>
      </li>
      <hr>
    </ol>
    <h3 class="anchor" id="about-my-order">About My Order</h3>
    <ol class="unstyled">
      <li class="anchor" id="about-my-order-q0">
        <h4 class="question" id="how-do-i-check-on-the-status-of-my-order">How do I check on the status of my order?</h4>
        <div class="answer">
          <p>You can view the status of your order by clicking the link in your Order Confirmation email.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="about-my-order-q1">
        <h4 class="question" id="how-do-i-make-a-change-to-my-order">How do I make a change to my order?</h4>
        <div class="answer">
          <p>If your Shopper has not started working on your order, you can add to, modify or cancel your order. You can find these options on the Order Status page.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="about-my-order-q2">
        <h4 class="question" id="what-is-your-cancellation-policy">What is your cancellation policy?</h4>
        <div class="answer">
          <p>You can cancel your delivery for a full refund up until we start shopping for your order, about 1-2 hours before your scheduled delivery time.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="about-my-order-q3">
        <h4 class="question" id="what-if-i-have-to-reschedule-or-cancel-my-order-after-it-s-already-on-the-way">What if I have to reschedule or cancel my order after it's already on the way?</h4>
        <div class="answer">
          <p>If you must cancel your order during the shopping or delivery process, your order total will be returned to your Instacart account as a credit for use with your next order. If you are not reachable at the time of delivery, we may cancel your order on your behalf and charge a $15 fee.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="about-my-order-q4">
        <h4 class="question" id="how-do-i-report-a-problem-with-my-order">How do I report a problem with my order?</h4>
        <div class="answer">
          <p>If you have a problem with your order, please tell us! Leave feedback for your order using the link in the receipt we emailed you. We will respond extremely quickly!</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="about-my-order-q5">
        <h4 class="question" id="when-will-i-receive-my-refund">When will I receive my refund?</h4>
        <div class="answer">
          <p>Refunds may take up to 7 business days to process. In some cases your bank may adjust the original charge amount instead of displaying a separate refund.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="about-my-order-q6">
        <h4 class="question" id="how-do-i-review-my-receipt">How do I review my receipt?</h4>
        <div class="answer">
          <p>You may review your receipts one of two ways:<br></p><ol><li><b>After delivery via text or email.</b> Once your order has been delivered, you'll receive an email and text notification with a link to your receipt, where you can rate your order, tip your shopper, and leave feedback. </li><li><b>Review receipts from your account.</b> When you're logged in to your account, hover over your name in the upper right hand corner and a menu will appear. Select <a href="https://www.instacart.com/store/account/order_history">Order History</a>. Select a basket from past orders on the left. Here, you'll also see the option to view your receipt.</li></ol><br> For your records, you can also download a PDF of your individual receipts from the receipt links in your <a href="https://www.instacart.com/store/account/order_history">Order History</a>, or via the links accessible from text and email.<p></p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="about-my-order-q7">
        <h4 class="question" id="how-do-i-return-my-instacart-bags">How do I return my Instacart bags?</h4>
        <div class="answer">
          <p>We encourage you to return your Instacart bags, that are still in good condition, to your next Instacart shopper for reuse after inspection. Feel free to also use them for your own errands, too!</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="about-my-order-q8">
        <h4 class="question" id="how-do-i-return-items">How do I return items?</h4>
        <div class="answer">
          <p>We do not currently support a return process for any items you may have accidentally purchased via Instacart. You are more than welcome to coordinate returns directly with your store. Keep in mind that we do keep the in-store receipts for accounting purposes. <br><br>If something seem amiss with your order, such as a missing item or an incorrect item delivered, please reach out to the Customer Happiness team by leaving feedback on your order or <a href="mailto:happycustomers@instacart.com?subject=More Questions">email us</a>.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="about-my-order-q9">
        <h4 class="question" id="why-is-my-card-authorized-for-more-than-my-order-total">Why is my card authorized for more than my order total?</h4>
        <div class="answer">
          <p>Like a restaurant or bar, Instacart temporarily authorizes your card for slightly more than your order total. As soon as your order is complete, we charge your card for exactly what was delivered. Your bank will update the final charge on your statement in 3 - 7 business days after delivery.<br><br> The temporary authorization is typically for $1-15 more than the order total. It helps account for charges like final sales tax, tips and items sold by weight. If your final order total exceeds the authorization amount there may be second charge for the difference. You can see all charges reflected at the bottom of your receipt, which is available after delivery.</p>
        </div>
      </li>
      <hr>
    </ol>
    <h3 class="anchor" id="personal-shoppers">Personal Shoppers</h3>
    <ol class="unstyled">
      <li class="anchor" id="personal-shoppers-q0">
        <h4 class="question" id="who-will-deliver-my-order">Who will deliver my order?</h4>
        <div class="answer">
          <p>Your grocery order will be delivered by a screened and trained Personal Shopper.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="personal-shoppers-q1">
        <h4 class="question" id="what-if-all-personal-shoppers-are-busy">What if all Personal Shoppers are busy?</h4>
        <div class="answer">
          <p>Occasionally our Personal Shoppers get overwhelmed with orders. During these times, the next available delivery slot may be later in the day, or tomorrow. In the shopping cart, you can clearly see the next available delivery for your order.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="personal-shoppers-q2">
        <h4 class="question" id="can-i-become-a-personal-shopper">Can I become a Personal Shopper?</h4>
        <div class="answer">
          <p>We’re always looking to add Shoppers to our platform. If you love grocery shopping, and have a car and smartphone, please apply! <br><br><a class="btn" href="http://www.instacart.com/shoppers">Fill out an application!</a></p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="personal-shoppers-q3">
        <h4 class="question" id="should-i-tip-my-personal-shopper">Should I tip my Personal Shopper?</h4>
        <div class="answer">
          <p>Tips are not required, but Shoppers appreciate recognition of their hard work. Shoppers receive the entire amount of your tip. You can tip using your credit card during checkout or after delivery.</p>
        </div>
      </li>
      <hr>
      <li class="anchor" id="personal-shoppers-q4">
        <h4 class="question" id="how-do-i-add-a-tip-for-my-shopper">How do I add a tip for my shopper?</h4>
        <div class="answer">
          <p>There are three ways to tip your Instacart shopper:<br> </p><ol><li><b>During checkout.</b> Once you start checkout, you'll have the option to select a tip on the Payments page. </li><li><b>In cash when your order is delivered.</b> Since 100% of the tips go to your Instacart shopper, feel free to tip them in cash when they drop off your order. </li> <li><b>After delivery, via text or email.</b> Once your order has been delivered, you'll receive an email and text notification with a link to your receipt, where you can rate your order, tip your shopper, and leave feedback for the Customer Happiness team.</li></ol><br>Remember, if you place an order for multiple stores at one time, the tip will be evenly split between each of your shoppers assigned to your orders. Shoppers will receive confirmation of their tips once delivery is complete.<p></p>
        </div>
      </li>
      <hr>
    </ol>
    <h3 class="anchor" id="contact-us">Contact Us</h3>
    <ol class="unstyled">
      <li class="anchor" id="contact-us-q0">
        <h4 class="question" id="i-have-more-questions-for-you">I have more questions for you!</h4>
        <div class="answer">
          <p>We're happy to answer them please email us! Our average response time during business hours is just a few minutes! <br><br><a class="btn" href="mailto:happycustomers@instacart.com?subject=More Questions From FAQ">Email Customer Happiness</a></p>
        </div>
      </li>
      <hr>
    </ol>
  </div>
  </div>
</div>
