<html><head>
  <title>Instamart</title>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet" type="text/css">
  <link href="favicon.ico" rel="icon">
  <link href="stylesheets/new.css" media="screen" rel="stylesheet">

  <div class="container">
    <header>
      <a href="#" id="logo">
        <img alt="Logo header2 green@2x" class="instacart logo" src="logo-green-large.png">
      </a><a class="login btn btn-default btn-inverted" href="#login">
        Sign In
      </a>
      <div class="clearfix"></div>
    </header>
    <div id="panel">
      <div id="signup-panel">
        <div class="step hide" id="signup-step" style="display: block;">
          <div class="the-eye-catcher" id="presignup">
            <h1>We’re available in <span class="break-on-mobile">Lower Manhattan</span></h1>
            <p>Sign up and receive <strong>free delivery</strong> <span class="break-on-mobile">on your first order over $10</span></p>
          </div>
          <form accept-charset="UTF-8" action="javascript:myFunction(); return false;" class="new_user" id="signup-form" method="post">
            <div class="form-group clearfix">
              <input class="name first-name" id="signup_user_first_name" name="user[fname]" placeholder="First name" type="text">
              <input class="name last-name" id="signup_user_last_name" name="user[lname]" placeholder="Last name" type="text">
            </div>
            <div class="form-group"><input id="signup_user_email" name="user[email]" placeholder="Email for receipts" type="email"></div>
            <div class="form-group"><input id="user_password" name="user[password]" placeholder="Choose password" type="password"></div>
            <div class="form-group">
              <button class="btn signup btn-green btn-large" type="submit">Shop Now</button>
            </div>
          </form>
          <p>
            Already have an account?
            <a class="login" href="#login">Sign in</a>
          </p>
        </div>
      </div>
    </div>
    <div class="mac-preview reflexive-preview hide-on-mobile">
      <img alt="Macbook pro@2x" src="macbook.png">
    </div>
  </div>

</body></html>
