<div class="row-fluid">
  <div class="span12 panel-manager" id="main-content">
    <div class="content-panel"></div>
    <div class="popular content-panel active"><div class="hero-container" style="background-color: #0A6249">
      <div class="hero top">
        <div class="items-board-container">
          <div class="has-logo row warehouse-headline">
            <div class="logo-container">
              <div class="warehouse-logo" style="background-image: url(store.png)"></div>
            </div>
            <div class="name-container">
              <h1 class="name">Whole Foods Market</h1>
              <div class="description"></div>
            </div>
            <div class="info-container">
              <ul class="actions-container">
                <li class="js-change-store">
                  <span class="instacart-icon instacart-icon-store"></span>
                  <span class="text">Change Store</speujan>
                </li>
              </ul>
              <div class="fulfillment-container">
                <div class="info-overlay"></div>
                <div class="next-fulfillment">
                  <span class="text">Next available
                    Delivery
                  </span>
                  <span class="window">
                    Tomorrow, Jan 13, 10am - 11am
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div></div>
    <div class="favorites content-panel"></div>
    <div class="department content-panel active">
      <div class="items-board-container popular">
        <div class="infinite-scrolling items-board unstyled"></div>
      </div>

    </div>

  </div>
  <div class="minimized hide-on-checkout hide-on-landing" id="cart-sidebar"></div>
</div>
