<div class="hero top">
  <div class="items-board-container">
    <div class="has-logo row warehouse-headline">
      <div class="logo-container">
        <div class="warehouse-logo" style="background-image: url(https://d2lnr5mha7bycj.cloudfront.net/warehouse/light_logo/3/972faf87-b56b-4193-8d08-d67e7f05459d.png)"></div>
      </div>
      <div class="name-container">
        <h1 class="name">Whole Foods Market</h1>
        <div class="description"></div>
      </div>
      <div class="info-container">
        <ul class="actions-container">
          <li class="js-change-store">
            <span class="instacart-icon instacart-icon-store"></span>
            <span class="text">Change Store</span>
          </li>
        </ul>
        <div class="fulfillment-container">
          <div class="info-overlay"></div>
          <div class="next-fulfillment">
            <span class="text">Next available
              Delivery
            </span>
            <span class="window">
              Tomorrow, Jan 17, 1pm - 2pm
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
