<div class="cart-overlay ic-animated-appear"></div>
<div class="cart-wrapper" style="height: <%= height %>px">
<div class="centered empty-cart-notice">
  <div class="cart-icon-lg"></div> <h3>Your Cart is Empty</h3></div>
  <div class="centered add-items-from-last-order"></div></div>
<div class="cart-options">
  <div class="cart-checkout">
    <a class="btn-hollow btn-orange btn-merge btn-block hide" href="#">
      Add to order in progress
    </a>
    <div class="checkout-divider hide">
      <span>OR</span>
    </div>
    <a class="btn btn-block btn-checkout disabled" href="javascript:void(0);">Checkout Now</a>
  </div>
</div>
