<div class="cart-overlay ic-animated-appear"></div>
<div class="cart-wrapper" style="height: 667px;">
  <div class="warehouse-cart" id="warehouse-other-items-cart" style="display: none;">
    <div class="warehouse-cart-header">
      <strong class="name">Other Items</strong>
    </div>
    <div class="cart-items">
      <table class="table">
        <tbody></tbody>
      </table>
    </div>
  </div>
  <div class="warehouse-cart" id="warehouse-3-cart">
    <div class="warehouse-cart-header">
      <div class="main-warehouse-header">
        <span class="price-well"><%= count %></span>
        <span class="warehouse-name">Whole Foods Market</span>
        <span class="pull-right">
          <span class="delivery-fee">$10 min</span>
          <span class="price-well error">$<%= subtotal %></span>
        </span>
      </div>
      <div class="delivery-fees sub-warehouse-header sub-warehouse-header-dark" style="display: none;"><span>Next Delivery: Today, Jan 16, Within 2 hours</span></div>
      <div class="sub-warehouse-header" style="display: none;">
        <span class="reason"><%= reason %></span>
      </div>
    </div>
    <div class="cart-items">
      <table class="table">
        <tbody class="pri">
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="cart-options">
  <div class="cart-bottom"><div class="cart-bottom-left delivery-times"><a href="#delivery_times" class="centered"><span class="instacart-icon instacart-icon-delivery-times"></span>Delivery Times</a></div><div class="cart-bottom-right shop-with-friends"><span class="centered"><a href="#shop_with_friends"><i class="fa fa-group"></i> Shop with friends</a></span></div></div>
  <div class="cart-checkout">
    <a class="btn-hollow btn-orange btn-merge btn-block hide" href="#">
      Add to order in progress
    </a>
    <div class="checkout-divider hide">
      <span>OR</span>
    </div>
    <a class="btn btn-block btn-checkout" href="#checkout">Checkout Now</a>
  </div>
</div>
