<div class="cart-overlay ic-animated-appear"></div>
<div class="cart-wrapper" style="height: 421px;"><div class="warehouse-cart" id="warehouse-other-items-cart" style="display: none;">
  <div class="warehouse-cart-header">
    <strong class="name">Other Items</strong>
  </div>
  <div class="cart-items">
    <table class="table">
      <tbody></tbody>
    </table>
  </div>
</div><div class="warehouse-cart" id="warehouse-3-cart">
  <div class="warehouse-cart-header"><div class="main-warehouse-header">
  <span class="price-well">5</span>
  <span class="warehouse-name">Whole Foods Market</span>
  <span class="pull-right">
    <span class="price-well">$38.45</span>
  </span>
</div>
<div class="delivery-fees sub-warehouse-header sub-warehouse-header-dark" style="display: block;"><span>Next Delivery: Today, Jan 15, 2pm - 3pm</span></div>
<div class="sub-warehouse-header">
  <span class="reason">Only $3.99 for orders over $35.00!</span>
</div></div>
  <div class="cart-items">
    <table class="table">
      <tbody><tr data-item-id="502620" data-qty="1" data-created-at="1401746244.747">
  <td class="qty">
    <a class="change-qty qty-inc" href="#" title="">
      <i class="icon-caret-up"></i>
    </a>
    <div>1</div>
    <a class="change-qty qty-dec qty-disabled" href="#">
      <i class="icon-caret-down"></i>
    </a>
  </td>
  <td class="image item-clickable">
    <img src="https://d2lnr5mha7bycj.cloudfront.net/itemimage/image/primary_e2a20ebd-8ac1-4268-8e1c-67226576beb0.jpg">
  </td>
  <td class="name">
    <span class="item-clickable">Pearl River Pastry Company Key Lime Cheesecake</span>
    <br>
    <span class="item-size">20 oz</span>
    <span>
      <a class="add-note pull-right" href="#">
        <i class="icon-pencil"></i>
        add note
      </a>
      <div class="edit-special-instructions hide">
        <textarea class="special-instructions-box" rows="3" cols="2"></textarea>
        <br>
        <button class="btn btn-mini btn-primary btn-save-note">Save</button>
        <button class="btn btn-cancel-note btn-mini">Cancel</button>
      </div>
    </span>
  </td>
  <td class="price">
    $11.99
  </td>
  <td class="remove-cell">
    <a class="remove-item" href="#">×</a>
  </td>
</tr><tr data-item-id="2093089" data-qty="1" data-created-at="1420681564.554">
  <td class="qty">
    <a class="change-qty qty-inc" href="#" title="">
      <i class="icon-caret-up"></i>
    </a>
    <div>1</div>
    <a class="change-qty qty-dec qty-disabled" href="#">
      <i class="icon-caret-down"></i>
    </a>
  </td>
  <td class="image item-clickable">
    <img src="https://d2lnr5mha7bycj.cloudfront.net/itemimage/image/primary_c364f436-467d-4f3a-84c8-4aa650c62936.jpg">
  </td>
  <td class="name">
    <span class="item-clickable">365 Organic Old Fashioned Rolled Oats</span>
    <br>
    <span class="item-size">18 oz</span>
    <span>
      <span class="special-instructions">
        <br>
        <em>YAY!</em>
      </span>
      <a class="add-note pull-right" href="#">
        <i class="icon-pencil"></i>
        edit note
      </a>
      <div class="edit-special-instructions hide">
        <textarea class="special-instructions-box" rows="3" cols="2">YAY!</textarea>
        <br>
        <button class="btn btn-mini btn-primary btn-save-note">Save</button>
        <button class="btn btn-cancel-note btn-mini">Cancel</button>
      </div>
    </span>
  </td>
  <td class="price">
    $2.99
  </td>
  <td class="remove-cell">
    <a class="remove-item" href="#">×</a>
  </td>
</tr><tr data-item-id="2079701" data-qty="1" data-created-at="1420783378.3">
  <td class="qty">
    <a class="change-qty qty-inc" href="#" title="">
      <i class="icon-caret-up"></i>
    </a>
    <div>1</div>
    <a class="change-qty qty-dec qty-disabled" href="#">
      <i class="icon-caret-down"></i>
    </a>
  </td>
  <td class="image item-clickable">
    <img src="https://d2lnr5mha7bycj.cloudfront.net/itemimage/image/primary_568f5a4f-16eb-4582-bb7c-a9476a855fa4.jpg">
  </td>
  <td class="name">
    <span class="item-clickable">365 Organic Mountain Forest Light Amber Honey</span>
    <br>
    <span class="item-size">12 fl oz</span>
    <span>
      <span class="special-instructions">
        <br>
        <em>OK</em>
      </span>
      <a class="add-note pull-right" href="#">
        <i class="icon-pencil"></i>
        edit note
      </a>
      <div class="edit-special-instructions hide">
        <textarea class="special-instructions-box" rows="3" cols="2">OK</textarea>
        <br>
        <button class="btn btn-mini btn-primary btn-save-note">Save</button>
        <button class="btn btn-cancel-note btn-mini">Cancel</button>
      </div>
    </span>
  </td>
  <td class="price">
    $5.49
  </td>
  <td class="remove-cell">
    <a class="remove-item" href="#">×</a>
  </td>
</tr><tr data-item-id="488333" data-qty="1" data-created-at="1421294366.469">
  <td class="qty">
    <a class="change-qty qty-inc" href="#" title="">
      <i class="icon-caret-up"></i>
    </a>
    <div>1</div>
    <a class="change-qty qty-dec qty-disabled" href="#">
      <i class="icon-caret-down"></i>
    </a>
  </td>
  <td class="image item-clickable">
    <img src="https://d2lnr5mha7bycj.cloudfront.net/itemimage/image/primary_9beb2059-8a94-4616-86f4-9b64258a2a89.jpg">
  </td>
  <td class="name">
    <span class="item-clickable">Saffron Road Dessert Mini Tarts Chocolate Coconut Cheesecake</span>
    <br>
    <span class="item-size">6.2 oz</span>
    <span>
      <a class="add-note pull-right" href="#">
        <i class="icon-pencil"></i>
        add note
      </a>
      <div class="edit-special-instructions hide">
        <textarea class="special-instructions-box" rows="3" cols="2"></textarea>
        <br>
        <button class="btn btn-mini btn-primary btn-save-note">Save</button>
        <button class="btn btn-cancel-note btn-mini">Cancel</button>
      </div>
    </span>
  </td>
  <td class="price">
    $8.99
  </td>
  <td class="remove-cell">
    <a class="remove-item" href="#">×</a>
  </td>
</tr><tr data-item-id="488334" data-qty="1" data-created-at="">
  <td class="qty">
    <a class="change-qty qty-inc" href="#" title="">
      <i class="icon-caret-up"></i>
    </a>
    <div>1</div>
    <a class="change-qty qty-dec qty-disabled" href="#">
      <i class="icon-caret-down"></i>
    </a>
  </td>
  <td class="image item-clickable">
    <img src="https://d2lnr5mha7bycj.cloudfront.net/itemimage/image/primary_6250cb17-b2e1-4ef3-b799-3ea48ded1139.jpg">
  </td>
  <td class="name">
    <span class="item-clickable">Saffron Road Salted Caramel Cheesecake</span>
    <br>
    <span class="item-size">6.2 oz</span>
    <span>
      <a class="add-note pull-right" href="#">
        <i class="icon-pencil"></i>
        add note
      </a>
      <div class="edit-special-instructions hide">
        <textarea class="special-instructions-box" rows="3" cols="2"></textarea>
        <br>
        <button class="btn btn-mini btn-primary btn-save-note">Save</button>
        <button class="btn btn-cancel-note btn-mini">Cancel</button>
      </div>
    </span>
  </td>
  <td class="price">
    $8.99
  </td>
  <td class="remove-cell">
    <a class="remove-item" href="#">×</a>
  </td>
</tr></tbody>
    </table>
  </div>
</div></div>
<div class="cart-options">
<div class="cart-bottom"><div class="cart-bottom-left delivery-times"><a href="#delivery_times" class="centered"><span class="instacart-icon instacart-icon-delivery-times"></span>Delivery Times</a></div><div class="cart-bottom-right shop-with-friends"><span class="centered"><a href="#shop_with_friends"><i class="fa fa-group"></i> Shop with friends</a></span></div></div>
<div class="cart-checkout">
<a class="btn-hollow btn-orange btn-merge btn-block hide" href="#">
Add to order in progress
</a>
<div class="checkout-divider hide">
<span>OR</span>
</div>
<a class="btn btn-block btn-checkout" href="#checkout">Checkout Now</a>
</div>
</div>
