<div class="cart-overlay ic-animated-appear"></div>
<div class="cart-wrapper" style="height: <%= height %>px">
  <div class="warehouse-cart" id="warehouse-3-cart">
    <div class="warehouse-cart-header">
      <div class="main-warehouse-header">
        <span class="price-well"><%= count %></span>
        <span class="warehouse-name">Whole Foods Market</span>
        <span class="pull-right">
          <span class="delivery-fee">$10 min</span>
          <span class="price-well error">$<%= subtotal %></span>
        </span>
      </div>
      <div class="delivery-fees sub-warehouse-header sub-warehouse-header-dark" style="display: none;"><span>Next Delivery: Today, Within 2 hours</span></div>
      <div class="sub-warehouse-header" style="display: none;">
        <span class="reason"><%= reason %></span>
      </div>
    </div>
    <div class="cart-items">
      <table class="table">
        <tbody class="pri">
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="cart-options">
  <div class="cart-checkout">
    <a class="btn-hollow btn-orange btn-merge btn-block hide" href="#">
      Add to order in progress
    </a>
    <div class="checkout-divider hide">
      <span>OR</span>
    </div>
    <a class="btn btn-block btn-checkout disabled" href="javascript:void(0);">Checkout Now</a>
  </div>
</div>
