  <button class="close">×</button>
  <h2 class="muted">
    Whole Foods Market
    <a class="btn-change-warehouse btn-green btn-hollow" href="javaScript:void(0);">Change Store</a>
  </h2>
</div>
<div class="departments">
  <div class="department-list featured-departments">
    <a class="department active" href="whole-foods/departments/popular" data-department-id="popular">
      <span class="department-icon">
        <i class="icon-bookmark"></i>
      </span>
      Popular
    </a>
    <a class="department" href="whole-foods/lists" data-department-id="lists">
      <span class="department-icon">
        <i class="icon-list"></i>
      </span>
      Lists &amp; Recipes
    </a>
    <a class="department" href="whole-foods/departments/favorites" data-department-id="favorites">
      <span class="department-icon">
        <i class="icon-star"></i>
      </span>
      Favorites
    </a>
  </div>
  <!-- department icons licensed under CC BY 3.0 from flaticon.com c/o freeipk: http://www.flaticon.com/categories/food/2 -->
  <div class="department-list in-columns">
    <% Instamart.departments.each(function (department) { %>

    <a class="department" href="#stores/1/departments/<%= department.id %>" data-department-id="<%= department.id %>">
      <%= department.escape('name') %>
    </a>

    <% }); %>
  </div>
</div>
