<div class="ic-collapsible-nav-visible" style="display: inline-block; height: 0%; float: left;">
  <div class="logo-bg"></div>
  <a class="logo" href="">Instacart<img alt="Logo header2@2x" class="large-logo instacart-logo" height="36" src="logo-white-large.png" width="165">
    <img alt="Logo carrot icon nav.png@2x" class="small-logo instacart-logo" height="40" src="carrot.png"></a>
  <ul class="hide-on-checkout nav pull-left">
    <li class="large-dropdown-trigger" id="select-warehouse-name">
      <div class="nav-name-description">
        <span class="region-name">NYC</span>
        <span class="divider">—</span>
        <span class="active-zip-code">10003</span>
      </div>
      <span class="nav-name" id="warehouse-name">Whole Foods Market</span>
      <div id="warehouse-location-name">Union Square - Union Square South</div>
      <i class="icon-caret-down"></i>
    </li>
    <li class="large-dropdown-trigger" id="select-department-name">
      <div class="nav-name-description" id="department-name-description">Department</div>
      <span class="nav-name" id="department-name">
        <%= department_name %>
      </span>
      <i class="icon-caret-down"></i>
    </li>
    <li class="hide-on-checkout navbar-search">
      <input class="search-term" name="term" id="store-search" type="search" placeholder="Search Instamart">
    </li>
  </ul>
  <div class="show-on-checkout pull-left" id="checkout-banner">Checkout</div>

</div>
<ul class="nav pull-right user-nav ic-collapsible-nav-merge" id="navbar-right-nav">
  <li class="dropdown my-instacart" data-trigger="hover">
    <a class="dropdown-toggle profile-dropdown" href="#account">
      <%= fname %><b class="caret"></b></a>
      <ul class="dropdown-menu user">
        <li>
          <a href="#account">
            <i class="icon-user"></i>
            My Account
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a class="logout" href="#logout">
            <i class="icon-off"></i>
            Logout
          </a>
        </li>
      </ul>
    </li>
  </ul>
