<div class="navbar-inner" id="sub-nav-wrapper">
  <ul class="nav nav-normal" id="sub-nav">
    <li class="featured subnav-item" data-department-id="popular">
      <a class="nav-tab popular" href="#whole-foods">
        <i class="icon-bookmark"></i>
        Popular
      </a>
    </li>
    <li class="featured subnav-item" data-department-id="lists">
      <a class="nav-tab lists" href="#whole-foods/lists">
        <i class="icon-list"></i>
        Lists &amp; Recipes
      </a>
    </li>
    <li class="featured subnav-item" data-department-id="favorites">
      <a class="nav-tab favorites" href="#whole-foods/favorites">
        <i class="icon-star"></i>
        Favorites
      </a>
    </li>
  </ul>
<div class="pull-right minimized" id="cart-in-nav">
  <div class="nav-content">
    <i class="icon-chevron-right toggle-cart" title="Expand cart"></i>
    <i class="icon-shopping-cart"></i>
    <span class="items-count"><%= count %></span>
    <div class="pull-right totals">
      <span class="delivery-icon-totals">
        <span class="truck-icon"></span>
        <span class="light truck-icon"></span>
        <span class="delivery-total">$<%= fee %></span>
      </span>
      <div class="btn-group">
        <button class="btn btn-checkout-mini btn-item-total btn-small items-total" style="overflow: hidden;">
          <%= "$" + subtotal %>
        </button>
        <button class="btn btn-checkout-label btn-checkout-mini btn-small">Checkout</button>
      </div>
    </div></div>
    <div class="popover bottom">
      <div class="arrow"></div>
      <div class="popover-content"><div class="warehouse-cart" id="popover-warehouse-3-cart">
        <div class="cart-items">
          <table class="table">
            <tbody></tbody>
          </table>
        </div>
        <div class="warehouse-cart-header"><div class="centered main-warehouse-header">
          <span class="reason"><%= reason %></span>
        </div></div>
      </div></div>
    </div>
  </div>
</div>
