<div class="headline">
  <button class="close">×</button>
  <h3 class="muted">
    Choose a store in
    <span class="zip-code">10003</span>
  </h3>
  <div class="actions">
    <a class="btn-green btn-hollow" href="#address-picker-modal" data-toggle="modal">Change Zip</a>
  </div>
</div>
<div class="warehouses-list-container">
  <ul class="warehouses-list">
    <li class="has-image warehouse-option" data-warehouse-id="53">
      <a href="#fairway-market">
        <div class="warehouse-text">
          <span class="name">
            Fairway Market
            <span class="description">

            </span>
          </span>
        </div>
        <div class="warehouse-option-image-wrap">
          <div class="warehouse-option-image" style="background-image: url(https://d2lnr5mha7bycj.cloudfront.net/warehouse/dark_logo/53/ff1e9733-7c60-44ca-a12b-002e2294a97a.png)"></div>
        </div>
      </a>
    </li>
    <li class="active has-image warehouse-option" data-warehouse-id="3">
      <a href="#stores/1">
        <div class="small warehouse-text">
          <span class="name">
            Whole Foods Market
            <span class="description">

            </span>
          </span>
        </div>
        <div class="warehouse-option-image-wrap">
          <div class="warehouse-option-image" style="background-image: url(https://d2lnr5mha7bycj.cloudfront.net/warehouse/dark_logo/3/33b42060-50b5-430f-9e04-28a5f15c57ce.png)"></div>
        </div>
      </a>
    </li>
    <li class="has-image warehouse-option" data-warehouse-id="5">
      <a href="#costco">
        <div class="warehouse-text">
          <span class="name">
            Costco
            <span class="description">

            </span>
          </span>
        </div>
        <div class="warehouse-option-image-wrap">
          <div class="warehouse-option-image" style="background-image: url(https://d2lnr5mha7bycj.cloudfront.net/warehouse/dark_logo/5/6848e754-065f-41ff-94b6-e6a7854c371f.png)"></div>
        </div>
      </a>
    </li>
  </ul>
</div>
