<li class="dropdown my-instacart" data-trigger="hover">
  <a class="dropdown-toggle profile-dropdown" href="#account">
    Marc<b class="caret"></b></a>
    <ul class="dropdown-menu" style="display: none;">
      <li>
        <a href="#account">
          <i class="icon-user"></i>
          My Account
        </a>
      </li>
      <li>
        <a href="#account/order_history">
          <i class="icon-list"></i>
          Order History
        </a>
      </li>
      <li class="express">
        <a data-source="dropdown" href="#express">
          <i class="icon-star"></i>
          Instacart Express
        </a>
      </li>
      <li class="shop_with_friends">
        <a href="#shop_with_friends">
          <i class="icon-smile"></i>
          Shop with Friends
        </a>
      </li>
      <li>
        <a class="track-link enter-coupon-code" data-event="Clicked enter coupon code" href="#">
          <i class="icon-ticket"></i>
          Have a promo code?
        </a>
      </li>
      <li class="refer_friends">
        <a class="referral-link" data-source="menu - invite friends" href="#referrals">
          <i class="icon-money"></i>
          Refer friends.
          Get $25.
        </a>
      </li>
      <li class="divider merge-after"></li>
      <li class="terms-link"><a class="terms-link" href="/terms">Terms &amp; Conditions</a></li>
      <li class="divider"></li>
      <li>
        <a class="logout" href="#logout">
          <i class="icon-off"></i>
          Logout
        </a>
      </li>
    </ul>
  </li>
