  <div class="row">
  <div class="checkout-header span12">
    <div class="centered">
      <h1 class="float-left">
        <span class="checkout-state whitelabel-logo"></span>
        <span class="checkout-state selected">Delivery</span>
        <span class="muted next">
          <i class="icon-chevron-right"></i>
        </span>
        <span class="checkout-state">Payment</span>
        <span class="muted next">
          <i class="icon-chevron-right"></i>
        </span>
        <span class="checkout-state">Replacements</span>
      </h1>
    </div>
  </div>
</div>
<div class="checkout-flow-wrapper checkout-wrapper delivery">
  <form class="form-horizontal">
    <fieldset>
      <div class="control-group">
        <label class="address-control-label control-label">
          Address
        </label>
        <div class="controls">
          <ul class="addresses inline unstyled">
            <li class="address selected" data-address-id="67155">
              <div class="address-type" rel="tooltip" data-placement="bottom" data-title="54 Stone St, #4, 10004" data-original-title="" title="">
                <i class="icon-home"></i>
              </div>
              <div class="address-label centered">
                Home
              </div>
            </li>
            <li class="add-address">
              <div class="address-type">
                <i class="icon-plus new"></i>
              </div>
              <div class="address-label centered">
                New Address
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="control-group">
        <label class="controls">
        </label>
      </div>
      <div class="control-group">
        <label class="control-label" for="order_special_instructions">Order Instructions</label>
        <div class="controls">
          <textarea id="order_special_instructions" name="" rows="3" placeholder="Call me when you arrive"></textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label delivery-control-label has-delivery-control-label" for="delivery-options-3">
          Whole Foods Market
          Delivery
        </label>
        <div class="controls" id="delivery-options-3"><div><div class="clearfix">
          <span class="delivery-location">
            <div class="delivery-location-title">Delivery from</div>
            <div class="delivery-location-name">Union Square - Union Square South</div>
          </span>
        </div>
        <div class="delivery-day-chooser dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" data-trigger="manual">
            <span class="centered when">Tomorrow</span>
            <br>
            <span class="centered date">Jan 17</span>
            <span class="down-arrow">
              <i class="icon-caret-down"></i>
            </span>
          </a>
          <ul class="delivery-day-options dropdown-menu">
            <li class="delivery-day-option" data-delivery-date="2015-01-16">
              Today
              <br>
              <strong>Jan 16</strong>
            </li>
            <li class="delivery-day-option selected" data-delivery-date="2015-01-17">
              Tomorrow
              <br>
              <strong>Jan 17</strong>
            </li>
            <li class="delivery-day-option" data-delivery-date="2015-01-18">
              Sunday
              <br>
              <strong>Jan 18</strong>
            </li>
            <li class="delivery-day-option" data-delivery-date="2015-01-19">
              Monday
              <br>
              <strong>Jan 19</strong>
            </li>
            <li class="delivery-day-option" data-delivery-date="2015-01-20">
              Tuesday
              <br>
              <strong>Jan 20</strong>
            </li>
            <li class="delivery-day-option" data-delivery-date="2015-01-21">
              Wednesday
              <br>
              <strong>Jan 21</strong>
            </li>
          </ul>
        </div>
        <div class="delivery-time dropdown">
          <a class="dropdown-trigger" href="#" data-toggle="dropdown" data-trigger="manual">
            <span class="when">
              $3.99

            </span>
            <br>
            <span class="date">1pm - 2pm</span>
          </a>
          <span class="down-arrow" data-toggle="dropdown" data-trigger="manual">
            <i class="icon-caret-down"></i>
          </span>
          <ol class="delivery-2-column delivery-options dropdown-menu unstyled">
            <div class="delivery-option-column">
              <li class="delivery-option dropdown unavailable" data-delivery-option-id="785592">9am - 10am - $3.99
              </li>
              <li class="delivery-option dropdown" data-delivery-option-id="785593">10am - 11am - $3.99
              </li>
              <li class="delivery-option dropdown" data-delivery-option-id="785594">11am - Noon - $3.99
              </li>
              <li class="delivery-option dropdown" data-delivery-option-id="785595">Noon - 1pm - $3.99
              </li>
              <li class="delivery-option dropdown selected" data-delivery-option-id="785596">1pm - 2pm - $3.99
              </li>
              <li class="delivery-option dropdown" data-delivery-option-id="785597">2pm - 3pm - $3.99
              </li>
              <li class="delivery-option dropdown" data-delivery-option-id="785598">3pm - 4pm - $3.99
              </li>
              <li class="delivery-option dropdown" data-delivery-option-id="785599">4pm - 5pm - $3.99
              </li>
            </div>
            <div class="delivery-option-column">
              <li class="delivery-option dropdown" data-delivery-option-id="785600">5pm - 6pm - $3.99
              </li>
              <li class="delivery-option dropdown" data-delivery-option-id="785601">6pm - 7pm - $3.99
              </li>
              <li class="delivery-option dropdown" data-delivery-option-id="785602">7pm - 8pm - $3.99
              </li>
              <li class="delivery-option dropdown" data-delivery-option-id="785603">8pm - 9pm - $3.99
              </li>
              <li class="delivery-option dropdown" data-delivery-option-id="785604">9pm - 10pm - $3.99
              </li>
              <li class="delivery-option dropdown unavailable" data-delivery-option-id="785605">10pm - 11pm - $3.99
              </li>
            </div>
          </ol>
        </div></div></div>
      </div>
      <div class="control-group">
        <div class="controls">
        </div>
      </div>
    </fieldset>
    <div class="buttons clearfix">
      <div class="pull-left">
        <a class="btn btn-back btn-large btn-subtle" href="">
          <i class="icon-chevron-left"></i>
          Back
        </a>
      </div>
      <div class="pull-right">
        <button class="btn btn-large btn-next btn-primary" data-loading-text="Loading...">
          Next
          <i class="icon-chevron-right"></i>
        </button>
      </div>
    </div>
  </form>
</div>
