<link rel="stylesheet" media="all" href="main.css" />
<link rel="stylesheet" media="screen" href="store.css" />

<div class="navbar primary-navbar ic-collapsible-nav"></div>
<div class="ic-nav-large-dropdown ic-appear" id="department-dropdown"></div>
<div class="ic-nav-large-dropdown ic-appear" id="warehouse-dropdown"></div>
<div class="navbar secondary-navbar hide-on-checkout"></div>
<div class="container-fluid"></div>
<div class="outside-container">
  <div class="container-fluid cart-minimized">
    <div class="row-fluid">
      <div class="span12 panel-manager" id="main-content">
        <div class="popular content-panel"></div>
        <div class="department content-panel">
          <div class="items-board-container"></div>
        </div>
        <div class="aisle content-panel">
          <div class="row-fluid">
            <div class="span10"></div>
          </div>
        </div>
        <div class="faq content-panel"></div>
        <div class="lists content-panel"></div>
        <div class="favorites content-panel"></div>
        <div class="delivery content-panel"></div>
        <div class="payment content-panel"></div>
        <div class="replacements content-panel"></div>
        <div class="new-subscription content-panel"></div>
        <div class="account content-panel-centered content-panel"></div>
      </div>
      <div class="hide-on-checkout hide-on-landing minimized" id="cart-sidebar"></div>
    </div>
  </div>
</div>

<div class="item-detail-overlay hide"></div>
<div class="item-detail hide"></div>
