<link href="new.css" media="screen" rel="stylesheet">

<div class="container">
  <header>
    <a href="#" id="logo"><img alt="Logo header2 green@2x" class="instacart logo" src="logo-green-large.png">
    </a><a class="login btn btn-default btn-inverted" href="#login">
      Sign In
    </a>
    <div class="clearfix"></div>
  </header>
  <div id="panel"></div>
  <div class="mac-preview reflexive-preview hide-on-mobile">
    <img alt="Macbook pro@2x" src="macbook.png">
  </div>
</div>
