  <h2 class="underline">
  Account
</h2>
<div class="ic-tabs" id="account-tabs">
  <div class="ic-tabs-headers">
    <a class="ic-tab-header active" href="#account/profile">Account</a>
    <a class="ic-tab-header" href="#account/addresses">Addresses</a>
    <a class="ic-tab-header" href="#account/payment">Payment Methods</a>
    <a class="express ic-tab-header" href="#account/express">Express</a>
    <a class="ic-tab-header" href="#account/coupons">Coupons</a>
    <a class="ic-tab-header" href="#account/notifications">Notifications</a>
    <a class="ic-tab-header" href="#account/order_history">Order History</a>
  </div>
  <div class="ic-tabs-content">
    <div class="clearfix ic-tab profile active" data-target-id="profile">
      <div class="personal-info">
        <h4 class="underline uppercase">Personal Information</h4>
        <div class="clearfix content">
          <div class="clearfix input-line">
            <input type="text" name="first_name" value="<%= first_name %>" required="required" placeholder="First Name">
          </div>
          <div class="clearfix input-line">
            <input type="text" name="last_name" value="<%= last_name %>" required="required" placeholder="Last Name">
          </div>
          <div class="clearfix input-line">
            <input class="field" type="tel" name="phone" pattern="[0-9 ]*" value="<%= mobile %>" required="required" placeholder="Phone Number">
          </div>
          <div class="checkbox-line clearfix input-line">
            <label>Receive SMS order updates?</label>
            <input class="no-sms" type="checkbox" name="no-sms" value="t" checked="">
          </div>
          <button class="btn btn-large btn-primary btn-update-account right">
            Save Info
          </button>
        </div>
      </div>
      <div class="facebook social">
        <h4 class="underline uppercase">Get Social</h4>
        <p>Facebook Login makes it easy to sign in, invite friends to shop with you, adds a profile picture and lets you share your lists more easily.</p>
        <a class="btn btn-facebook btn-large" href="/auth/facebook" target="_blank">Connect with Facebook</a>
      </div>
      <div class="clearfix password">
        <h4 class="underline uppercase">Account Information</h4>
        <div class="clearfix line">
          <span class="title">Email</span>
          <span class="value"><%= email %></span>
          <a class="btn-edit-email" href="#">Change</a>
        </div>
        <div class="clearfix line">
          <span class="title">Password</span>
          <span class="value">●●●●●●</span>
          <a class="btn-edit-password" href="#">Change</a>
        </div>
      </div>
    </div>
    <div class="clearfix express express-membership ic-tab" data-target-id="express">
      <div class="icon">
        <img src="/assets/express/express-big.png">
      </div>
      <div class="member">
        <div class="green-title">
          Instacart Express Member
          <p class="subtitle">Free delivery on orders over $35</p>
        </div>
        <div class="muted">
          Become an Instacart Express Member today and
        </div>
        <div class="muted">
          receive FREE delivery on orders over $35 for a year.
        </div>
        <div class="learn-more">
          <a class="btn btn-large btn-primary" href="#express" data-source="account">Learn more</a>
        </div>
      </div>
    </div>
    <div class="addresses clearfix ic-tab" data-target-id="addresses">
      <div class="clearfix ic-tabs vertical" id="addresses">
        <div class="ic-tabs-headers">
          <div class="btn-create-address call-to-action ic-tab-header">
            <i class="fa fa-plus"></i>
            New Address
          </div>
          <a class="active ic-tab-header" href="#account/addresses/67155">
            <span class="right zipcode">10004</span>
            <i class="fa fa-home"></i>
            <span class="name">Home</span>
          </a>
        </div>
        <div class="ic-tabs-content">
          <div class="address-67155 active clearfix ic-tab" data-target-id="67155" data-address-id="67155">
            <div class="map-view">
              <img class="map-image" src="https://api.tiles.mapbox.com/v3/instacart.i6hd8pi8/pin-s-building+cc4422(-74.010109,40.704281)/-74.010109,40.704281,15/300x70@2x.png">
            </div>
            <form>
              <div class="clearfix input-line">
                <label for="label">Label</label>
                <input type="text" name="label" value="Home" required="required" placeholder="Home, Work">
              </div>
              <div class="clearfix input-line">
                <label for="label">Type of Location</label>
                <div class="inputs">
                  <label class="capitalize inline radio">
                    <input class="address_type_option" type="radio" name="address_type" value="residential" checked="">
                    residential
                  </label>
                  <label class="capitalize inline radio">
                    <input class="address_type_option" type="radio" name="address_type" value="business">
                    business
                  </label>
                </div>
              </div>
              <div class="business-name input-line clearfix hide">
                <label for="business_name">Business Name</label>
                <input type="text" name="business_name" value="" placeholder="Business name">
              </div>
              <div class="clearfix input-line">
                <label for="street_address">Street Address</label>
                <input type="text" name="street_address" value="54 Stone St" required="required" placeholder="Street address">
              </div>
              <div class="clearfix input-line">
                <label for="apartment_number">Apt or Suite #</label>
                <input type="text" name="apartment_number" value="4" placeholder="Apt/suite/floor (optional)">
              </div>
              <div class="clearfix input-line">
                <label for="zip_code">Zip Code</label>
                <input type="text" name="zip_code" value="10004" required="required" placeholder="Zip code">
              </div>
              <div class="clearfix input-line">
                <label for="note">Notes</label>
                <textarea name="note" placeholder="Door code, etc. (optional)">Buzzer code: 103</textarea>
              </div>
            </form>
            <button class="btn btn-large btn-primary btn-update-address right">
              <i class="fa fa-edit"></i>
              Save Changes
            </button>
            <button class="btn btn-danger btn-delete-address btn-large right">
              <i class="fa fa-times"></i>
              Delete Address
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix ic-tab payment" data-target-id="payment">
      <div class="clearfix ic-tabs vertical" id="cards">
        <div class="ic-tabs-headers">
          <div class="btn-create-cc ic-tab-header">
            <i class="fa fa-plus"></i>
            New Card
          </div>
          <a class="active ic-tab-header" data-target="card-66981" href="#account/payment/66981">
            <img src="/assets/creditcards/ic-card-visa.png" class="visa " alt="Visa credit card icon">
            <span class="last-four">4305</span>
            <span class="name">Visa</span>
          </a>
        </div>
        <div class="ic-tabs-content">
          <div class="card-66981 active clearfix ic-tab" data-credit-card-id="66981" data-target-id="66981">
            <div class="clearfix input-line">
              <label for="label">Label</label>
              <input type="text" name="label" value="Visa" required="required" placeholder="eg. Personal, Business">
            </div>
            <div class="clearfix input-line">
              <label for="last_foud">Last four digits</label>
              <span>4305</span>
            </div>
            <div class="clearfix input-line">
              <label for="card_type">Card Type</label>
              <span>Visa</span>
            </div>
            <button class="btn btn-large btn-primary btn-update-card right">
              <i class="fa fa-edit"></i>
              Save Changes
            </button>
            <button class="btn btn-danger btn-delete-card btn-large right">
              <i class="fa fa-times"></i>
              Delete Card
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix ic-tab notifications" data-target-id="notifications">
      <div class="emails">
        <h3>Email me about:</h3>
        <div class="toggles">
          <label class="checkbox">
            <input class="receive_emails" type="checkbox" name="receive_emails" value="t">
            Sales and Marketing
          </label>
        </div>
      </div>
      <div class="too-much">
        <h3>Too Much Email?</h3>
        <p>Follow us on the less bothersome channels for some awesome deals</p>
        <a class="btn btn-large btn-twitter" href="https://twitter.com/instacart" target="_blank">Follow us on Twitter</a>
        <a class="btn btn-facebook btn-large" href="https://facebook.com/instacart" target="_blank">Like us on Facebook</a>
      </div>
    </div>
    <div class="clearfix ic-tab order_history" data-target-id="order_history"><div class="clearfix ic-tabs vertical" id="orders-history">
      <div class="ic-tabs-headers">
        <div class="active ic-tab-header order-detail-header" href="#account/order_history/0520233565638">
          <span class="name">May 20, 2014 2:09 PM</span>
          <span class="right">
            4 items, $0.00 tip
          </span>
          <br>
          <br>
          <div class="right">
            <a href="http://inst.cr/t/1vSZY7" target="_blank">Whole Foods Market: Leave a rating</a>
          </div>
          <br class="clear">
        </div>
        <div class="ic-tab-header order-detail-header" href="#account/order_history/0512223382">
          <span class="name">May 12, 2014 7:55 PM</span>
          <span class="right">
            9 items, $0.00 tip
          </span>
          <br>
          <br>
          <div class="right">
            <a href="http://inst.cr/t/xTML1M" target="_blank">Whole Foods Market: Leave a rating</a>
          </div>
          <br class="clear">
        </div>
      </div>
      <div class="ic-tabs-content">
        <div class="clearfix ic-tab order-233565638 active order-detail" data-order-id="233565638" data-target-id="0520233565638">
          <div class="clearfix order-links">
            <a class="left" href="#orders/0520233565638">View Order Status</a>
            <a class="right" href="https://www.instacart.com/orders/fO15I/receipt?token=cxnm6v6X7ByjnVVf2s96&amp;full=true#see-all" target="_blank">View Receipt</a>
          </div>
          <div class="order-delivery-detail">
            <h3>Whole Foods Market</h3>
            <div class="order-delivery-items">
              <div class="clearfix instacart-list-product order-item-h replaced" data-order-item-id="3768123" data-item-id="499015" data-cart-qty="0">
                <div class="instacart-list-product-content">
                  <div class="instacart-list-product-details">
                    <div class="instacart-list-product-image">
                      <img src="https://d2lnr5mha7bycj.cloudfront.net/itemimage/image/primary_283dae97-7761-4f35-b376-1f34f9af0fb0.jpg">
                      <span class="incart"></span>
                    </div>
                    <div class="instacart-list-product-name">
                      <span class="qty">1x</span>
                      <span class="name">Whole Foods Cocoa Sugar Grinder</span>
                    </div>
                    <div class="instacart-list-product-size">
                      <span class="size">2.29 oz</span>
                      <span class="price">$3.49</span>
                    </div>
                  </div>
                  <div class="instacart-list-adding-and-removing">
                    <a class="instacart-list-product-remove-from-cart">
                      <div class="fa fa-minus"></div>
                    </a>
                    <a class="instacart-list-product-add">
                      <div class="fa fa-plus"></div>
                      Add
                    </a>
                  </div>
                </div>
              </div>
              <div class="clearfix found instacart-list-product order-item-h" data-order-item-id="3768124" data-item-id="486121" data-cart-qty="0">
                <div class="instacart-list-product-content">
                  <div class="instacart-list-product-details">
                    <div class="instacart-list-product-image">
                      <img src="https://d2lnr5mha7bycj.cloudfront.net/itemimage/image/primary_568f5a4f-16eb-4582-bb7c-a9476a855fa4.jpg">
                      <span class="incart"></span>
                    </div>
                    <div class="instacart-list-product-name">
                      <span class="qty">1x</span>
                      <span class="name">365 Organic Mountain Forest Light Amber Honey</span>
                    </div>
                    <div class="instacart-list-product-size">
                      <span class="size">12 fl oz</span>
                      <span class="price">$5.49</span>
                    </div>
                  </div>
                  <div class="instacart-list-adding-and-removing">
                    <a class="instacart-list-product-remove-from-cart">
                      <div class="fa fa-minus"></div>
                    </a>
                    <a class="instacart-list-product-add">
                      <div class="fa fa-plus"></div>
                      Add
                    </a>
                  </div>
                </div>
              </div>
              <div class="clearfix found instacart-list-product order-item-h" data-order-item-id="3768122" data-item-id="494455" data-cart-qty="0">
                <div class="instacart-list-product-content">
                  <div class="instacart-list-product-details">
                    <div class="instacart-list-product-image">
                      <img src="https://d2lnr5mha7bycj.cloudfront.net/itemimage/image/primary_c364f436-467d-4f3a-84c8-4aa650c62936.jpg">
                      <span class="incart"></span>
                    </div>
                    <div class="instacart-list-product-name">
                      <span class="qty">5x</span>
                      <span class="name">365 Organic Old Fashioned Rolled Oats</span>
                    </div>
                    <div class="instacart-list-product-size">
                      <span class="size">18 oz</span>
                      <span class="price">$3.19</span>
                    </div>
                  </div>
                  <div class="instacart-list-adding-and-removing">
                    <a class="instacart-list-product-remove-from-cart">
                      <div class="fa fa-minus"></div>
                    </a>
                    <a class="instacart-list-product-add">
                      <div class="fa fa-plus"></div>
                      Add
                    </a>
                  </div>
                </div>
              </div>
              <div class="clearfix found instacart-list-product order-item-h" data-order-item-id="3768125" data-item-id="486251" data-cart-qty="0">
                <div class="instacart-list-product-content">
                  <div class="instacart-list-product-details">
                    <div class="instacart-list-product-image">
                      <img src="/assets/missing-item-ef61dafabffb22c6ca28fa0fcd56658b.png">
                      <span class="incart"></span>
                    </div>
                    <div class="instacart-list-product-name">
                      <span class="qty">4x</span>
                      <span class="name">Whole Foods Cage Free Extra Large Brown Eggs</span>
                    </div>
                    <div class="instacart-list-product-size">
                      <span class="size">12 ct</span>
                      <span class="price">$2.99</span>
                    </div>
                  </div>
                  <div class="instacart-list-adding-and-removing">
                    <a class="instacart-list-product-remove-from-cart">
                      <div class="fa fa-minus"></div>
                    </a>
                    <a class="instacart-list-product-add">
                      <div class="fa fa-plus"></div>
                      Add
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="btns">
            <button class="btn btn-add-all-to-cart btn-large btn-primary">
              <i class="fa fa-shopping-cart"></i>
              Add All Items To Cart
            </button>
          </div>
        </div>
        <div class="clearfix ic-tab order-223382 order-detail" data-order-id="223382" data-target-id="0512223382">
          <div class="clearfix order-links">
            <a class="left" href="#orders/0512223382">View Order Status</a>
            <a class="right" href="https://www.instacart.com/orders/W6W/receipt?token=cxnm6v6X7ByjnVVf2s96&amp;full=true#see-all" target="_blank">View Receipt</a>
          </div>
          <div class="order-delivery-detail">
            <h3>Whole Foods Market</h3>
            <div class="order-delivery-items">
              <div class="clearfix found instacart-list-product order-item-h" data-order-item-id="3580019" data-item-id="499475" data-cart-qty="0">
                <div class="instacart-list-product-content">
                  <div class="instacart-list-product-details">
                    <div class="instacart-list-product-image">
                      <img src="https://d2lnr5mha7bycj.cloudfront.net/itemimage/image/primary_b1ad05ae-32bc-4d0b-a996-582f66445cdc.jpg">
                      <span class="incart"></span>
                    </div>
                    <div class="instacart-list-product-name">
                      <span class="qty">1x</span>
                      <span class="name">365 Chives</span>
                    </div>
                    <div class="instacart-list-product-size">
                      <span class="size">.18 oz</span>
                      <span class="price">$2.99</span>
                    </div>
                  </div>
                  <div class="instacart-list-adding-and-removing">
                    <a class="instacart-list-product-remove-from-cart">
                      <div class="fa fa-minus"></div>
                    </a>
                    <a class="instacart-list-product-add">
                      <div class="fa fa-plus"></div>
                      Add
                    </a>
                  </div>
                </div>
              </div>
              <div class="clearfix instacart-list-product item-unavailable order-item-h" data-order-item-id="3580022" data-item-id="499580" data-cart-qty="0">
                <div class="instacart-list-product-content">
                  <div class="instacart-list-product-details">
                    <div class="instacart-list-product-image">
                      <img src="https://d2lnr5mha7bycj.cloudfront.net/itemimage/image/primary_30e33b72-29f9-42c7-8505-c459c631039d.jpg">
                      <span class="incart"></span>
                    </div>
                    <div class="instacart-list-product-name">
                      <span class="qty">1x</span>
                      <span class="name">365 Sea Salt</span>
                    </div>
                    <div class="instacart-list-product-size">
                      <span class="size">3 oz</span>
                      <span class="price">$2.99</span>
                    </div>
                  </div>
                  <span class="instacart-list-item-unavailable label label-important">Unavailable</span>
                </div>
              </div>
              <div class="clearfix found instacart-list-product order-item-h" data-order-item-id="3580021" data-item-id="499460" data-cart-qty="0">
                <div class="instacart-list-product-content">
                  <div class="instacart-list-product-details">
                    <div class="instacart-list-product-image">
                      <img src="https://d2lnr5mha7bycj.cloudfront.net/itemimage/image/primary_09eeddad-e370-4549-b6ff-cb05799399f9.jpg">
                      <span class="incart"></span>
                    </div>
                    <div class="instacart-list-product-name">
                      <span class="qty">1x</span>
                      <span class="name">365 Tarragon</span>
                    </div>
                    <div class="instacart-list-product-size">
                      <span class="size">0.28 oz</span>
                      <span class="price">$4.99</span>
                    </div>
                  </div>
                  <div class="instacart-list-adding-and-removing">
                    <a class="instacart-list-product-remove-from-cart">
                      <div class="fa fa-minus"></div>
                    </a>
                    <a class="instacart-list-product-add">
                      <div class="fa fa-plus"></div>
                      Add
                    </a>
                  </div>
                </div>
              </div>
              <div class="clearfix found instacart-list-product order-item-h" data-order-item-id="3580024" data-item-id="499010" data-cart-qty="0">
                <div class="instacart-list-product-content">
                  <div class="instacart-list-product-details">
                    <div class="instacart-list-product-image">
                      <img src="https://d2lnr5mha7bycj.cloudfront.net/itemimage/image/primary_f9937a6f-a347-459a-b857-f59c3b47ed09.jpg">
                      <span class="incart"></span>
                    </div>
                    <div class="instacart-list-product-name">
                      <span class="qty">1x</span>
                      <span class="name">365 Red Pepper Crushed</span>
                    </div>
                    <div class="instacart-list-product-size">
                      <span class="size">1.23 oz</span>
                      <span class="price">$2.99</span>
                    </div>
                  </div>
                  <div class="instacart-list-adding-and-removing">
                    <a class="instacart-list-product-remove-from-cart">
                      <div class="fa fa-minus"></div>
                    </a>
                    <a class="instacart-list-product-add">
                      <div class="fa fa-plus"></div>
                      Add
                    </a>
                  </div>
                </div>
              </div>
              <div class="clearfix found instacart-list-product order-item-h" data-order-item-id="3580020" data-item-id="499488" data-cart-qty="0">
                <div class="instacart-list-product-content">
                  <div class="instacart-list-product-details">
                    <div class="instacart-list-product-image">
                      <img src="https://d2lnr5mha7bycj.cloudfront.net/itemimage/image/primary_5e20cf25-3588-4ac6-9bfe-6f9f20e6ab67.jpg">
                      <span class="incart"></span>
                    </div>
                    <div class="instacart-list-product-name">
                      <span class="qty">1x</span>
                      <span class="name">365 Parsley Organic</span>
                    </div>
                    <div class="instacart-list-product-size">
                      <span class="size">.25 oz</span>
                      <span class="price">$2.99</span>
                    </div>
                  </div>
                  <div class="instacart-list-adding-and-removing">
                    <a class="instacart-list-product-remove-from-cart">
                      <div class="fa fa-minus"></div>
                    </a>
                    <a class="instacart-list-product-add">
                      <div class="fa fa-plus"></div>
                      Add
                    </a>
                  </div>
                </div>
              </div>
              <div class="clearfix instacart-list-product order-item-h replaced" data-order-item-id="3580018" data-item-id="499453" data-cart-qty="0">
                <div class="instacart-list-product-content">
                  <div class="instacart-list-product-details">
                    <div class="instacart-list-product-image">
                      <img src="https://d2lnr5mha7bycj.cloudfront.net/itemimage/image/primary_ec252ef7-7fd5-4582-9788-7a3625afd25e.jpg">
                      <span class="incart"></span>
                    </div>
                    <div class="instacart-list-product-name">
                      <span class="qty">1x</span>
                      <span class="name">365 Ground Black Pepper</span>
                    </div>
                    <div class="instacart-list-product-size">
                      <span class="size">1.8 oz</span>
                      <span class="price">$2.99</span>
                    </div>
                  </div>
                  <div class="instacart-list-adding-and-removing">
                    <a class="instacart-list-product-remove-from-cart">
                      <div class="fa fa-minus"></div>
                    </a>
                    <a class="instacart-list-product-add">
                      <div class="fa fa-plus"></div>
                      Add
                    </a>
                  </div>
                </div>
              </div>
              <div class="clearfix found instacart-list-product order-item-h" data-order-item-id="3580023" data-item-id="498960" data-cart-qty="0">
                <div class="instacart-list-product-content">
                  <div class="instacart-list-product-details">
                    <div class="instacart-list-product-image">
                      <img src="https://d2lnr5mha7bycj.cloudfront.net/itemimage/image/primary_92be7ea1-9e9c-4ab3-bca5-836c88a94b94.jpg">
                      <span class="incart"></span>
                    </div>
                    <div class="instacart-list-product-name">
                      <span class="qty">1x</span>
                      <span class="name">365 Basil</span>
                    </div>
                    <div class="instacart-list-product-size">
                      <span class="size">.53 oz</span>
                      <span class="price">$2.99</span>
                    </div>
                  </div>
                  <div class="instacart-list-adding-and-removing">
                    <a class="instacart-list-product-remove-from-cart">
                      <div class="fa fa-minus"></div>
                    </a>
                    <a class="instacart-list-product-add">
                      <div class="fa fa-plus"></div>
                      Add
                    </a>
                  </div>
                </div>
              </div>
              <div class="clearfix found instacart-list-product order-item-h" data-order-item-id="3580017" data-item-id="485645" data-cart-qty="0">
                <div class="instacart-list-product-content">
                  <div class="instacart-list-product-details">
                    <div class="instacart-list-product-image">
                      <img src="https://d2lnr5mha7bycj.cloudfront.net/itemimage/image/primary_2f5d7976-6e0e-4f9c-bec4-345c89d5e688.jpg">
                      <span class="incart"></span>
                    </div>
                    <div class="instacart-list-product-name">
                      <span class="qty">1x</span>
                      <span class="name">365 Extra Virgin Olive Oil</span>
                    </div>
                    <div class="instacart-list-product-size">
                      <span class="size">1 L</span>
                      <span class="price">$6.49</span>
                    </div>
                  </div>
                  <div class="instacart-list-adding-and-removing">
                    <a class="instacart-list-product-remove-from-cart">
                      <div class="fa fa-minus"></div>
                    </a>
                    <a class="instacart-list-product-add">
                      <div class="fa fa-plus"></div>
                      Add
                    </a>
                  </div>
                </div>
              </div>
              <div class="clearfix found instacart-list-product order-item-h" data-order-item-id="3580016" data-item-id="486253" data-cart-qty="0">
                <div class="instacart-list-product-content">
                  <div class="instacart-list-product-details">
                    <div class="instacart-list-product-image">
                      <img src="/assets/missing-item-ef61dafabffb22c6ca28fa0fcd56658b.png">
                      <span class="incart"></span>
                    </div>
                    <div class="instacart-list-product-name">
                      <span class="qty">2x</span>
                      <span class="name">Whole Foods Cage Free Omega-3 Large Brown Eggs</span>
                    </div>
                    <div class="instacart-list-product-size">
                      <span class="size">12 ct</span>
                      <span class="price">$3.49</span>
                    </div>
                  </div>
                  <div class="instacart-list-adding-and-removing">
                    <a class="instacart-list-product-remove-from-cart">
                      <div class="fa fa-minus"></div>
                    </a>
                    <a class="instacart-list-product-add">
                      <div class="fa fa-plus"></div>
                      Add
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="btns">
            <button class="btn btn-add-all-to-cart btn-large btn-primary">
              <i class="fa fa-shopping-cart"></i>
              Add All Items To Cart
            </button>
          </div>
        </div>
      </div>
    </div></div>
    <div class="clearfix coupons ic-tab" data-target-id="coupons">
      <div class="icon">
        <img src="/assets/account/icon-coupon.png">
      </div>
      <div class="green-title">
        Coupon Codes
        <p class="subtitle">Apply discounts to your Account</p>
      </div>
      <button class="btn btn-large btn-primary btn-redeem-coupon" data-toggle="modal" data-target="#redeem-coupon-modal">
        <i class="icon-magic"></i>
        Redeem Coupon
      </button>
      <div class="coupons-list">
      </div>
    </div>
  </div>
</div>
