  <h2 class="underline">
  Account
</h2>
<div class="ic-tabs" id="account-tabs">
  <div class="ic-tabs-headers">
    <a class="ic-tab-header active" href="#account">Profile</a>
  </div>
  <div class="ic-tabs-content">
    <div class="clearfix ic-tab profile active" data-target-id="profile">
      <div class="clearfix password">
        <h4 class="underline uppercase">Account Information</h4>
        <div class="clearfix line">
          <span class="title">First name</span>
          <span class="value"><%= first_name %></span>
        </div>
        <div class="clearfix line">
          <span class="title">Last name</span>
          <span class="value"><%= last_name %></span>
        </div>
        <div class="clearfix line">
          <span class="title">Email</span>
          <span class="value"><%= email %></span>
        </div>
        <div class="clearfix line">
          <span class="title">Password</span>
          <span class="value">●●●●●●</span>
        </div>
      </div>
    </div>
  </div>
</div>
