<div class="items-board-container">
<div class="infinite-scrolling items-board">
  <div class="items-board unstyled">
    <div class="item-header">
      <h4>Recipes</h4>
    </div>
    <ul class="items-list unstyled">
    </ul>
    <h2 class="centered muted">No recipes yet...</h2>
    <p class="centered lead muted">On the chopping block!</p>
  </div>
</div>
</div>
