<!DOCTYPE html>
  <html>
    <head>
      <link href='favicon.ico' id='favicon' rel='icon'>
      <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" media="screen" rel="stylesheet" />

      <title>Instamart</title>
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tags %>
    </head>
    <body class="index mac chrome" id="store">
      <%= yield %>
    </body>
</html>
