<!DOCTYPE html>
  <html>
    <head>
      <link href='https://d1s8987jlndkbs.cloudfront.net/assets/favicon-7ede7037e669789bc8f6a9a597203f87.ico' id='favicon' rel='icon'>
      <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" media="screen" rel="stylesheet" />
      <!-- <link href="//api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css" media="screen" rel="stylesheet" /> -->

      <title>Instamart</title>
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tags %>
    </head>
  <body class="index mac chrome" id="store">

    <% if signed_in? %>
      <link href="https://d1s8987jlndkbs.cloudfront.net/assets/application-98e12c4adc3c5201af031b4a66e3bb2a.css" media="all" rel="stylesheet" />
      <link href="https://d1s8987jlndkbs.cloudfront.net/assets/store-f276b9d9736e74710a7eb866917cc192.css" media="screen" rel="stylesheet" />
    <% end %>

    <div class="navbar primary-navbar ic-collapsible-nav"></div>
    <div class="ic-nav-large-dropdown ic-appear" id="department-dropdown"></div>
    <div class="ic-nav-large-dropdown ic-appear" id="warehouse-dropdown"></div>
    <div class="navbar secondary-navbar hide-on-checkout"></div>
    <div class="container-fluid"></div>
    <div class="outside-container">
      <div class="container-fluid cart-minimized">
        <div class="row-fluid">
          <div class="span12 panel-manager" id="main-content">
            <div class="popular content-panel"></div>
            <div class="department content-panel">
              <div class="items-board-container"></div>
            </div>
            <div class="aisle content-panel">
              <div class="row-fluid">
                <div class="span10"></div>
              </div>
            </div>
          </div>
          <div class="hide-on-checkout hide-on-landing minimized" id="cart-sidebar"></div>
        </div>
      </div>
    </div>
    <div class="item-detail-overlay hide" style="display: none;"></div>

    <%= yield %>

  </body>
</html>
